.sidebar h2 {
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #171e81a4;
    cursor: pointer;
    text-align: left;
  }
  
  .sidebar button:hover {
    background-color: #721212;
  }