@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente principal */
body {
  font-family: 'Space Grotesk', system-ui, -apple-system, "Segoe UI", sans-serif;
}
