name: Update Project on Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update:
    runs-on: self-hosted
    steps:
      - name: Update repository on server
        shell: powershell
        run: |
          Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope Process -Force
          Write-Host "Actualizando proyecto en el servidor..."
          git pull origin main
