name: Update Project on Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  update:
    runs-on: self-hosted
    steps:
      - name: Update repository on server
        shell: cmd
        run: |
          echo Actualizando proyecto en el servidor...
          cd /d C:\SERVI-APP\inventory-management
          git pull origin main
